# Игнорировать директорию .idea
/.idea/

# Игнорировать директорию .vscode
/.vscode/

# Игнорировать директорию все директории __pycache__
**/__pycache__/

# Игнорировать директорию с /data
./src_telegram/data/
./src_vk/data/

# Игнорирование всех файлов с расписанием
/src_telegram/data/