# Игнорировать директорию .idea
/.idea/

# Игнорировать директорию .vscode
/.vscode/

# Игнорировать директорию src/__pycache__
**/__pycache__/

# Игнорировать директорию src/data
/src_telegram/data/
