# Игнорировать директорию .idea
/.idea/

# Игнорировать директорию .vscode
/.vscode/

# Игнорировать директорию __pycache__
/__pycache__/

# Игнорировать директорию data
/data/

# Игнорировать директорию /keyboards/__pycache__/
/keyboards/__pycache__/
